body {
    font-family: Arial, sans-serif;
    background-image: url("images/fundoroxo.png");
    background-size: cover;
    background-position: center;
    margin: 0;
    padding: 0;
}

.container {
    width: 50%;
    margin: 50px auto;
    padding: 20px;
    background-color: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    text-align: center; /* Centraliza os textos dentro da caixa */
}

h2 {
    color: #333;
    text-align: center; /* Centraliza o título */
}

label {
    font-weight: bold;
    display: block;
    text-align: left; /* se quiser manter os labels alinhados à esquerda */
    margin-left: 5%;
}

input, select {
    width: 90%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    background-color: #8300ff;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 15px;
}

button:hover {
    background-color: #6200cc;
}

.logo {
    width: 100px;
    margin-bottom: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

